# Binaries and executables
*.exe
!bin/aether.exe
!bin/psiphon-tunnel-core.exe

*.dll
!assets/wintun.dll

# Databases and temporary logs
*.db
*.db-shm
*.db-wal
*.log
conective.db*
freenode.db*
testdata/
test_data/
scratch/

# WebView2 runtime cache & browser data
webview_cache/
EBWebView/

# IDE & Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# Installer temporary embedded copies (created only during build)
cmd/installer/bin/
cmd/installer/*.exe
cmd/installer/*.mmdb
cmd/installer/*.dll

# Temporary files & shortcuts
*.lnk
*~
aether.toml-psiphon/
